<div style="text-align:center">
  <h1>
    Welcome to Document Upload Utility!
  </h1>
</div>
<div class="tool-bar">
  <span class="tool-bar">
    <span class="upload-tools">
      <button class="btn-primary" (click)="fileInput.click();">Attach PDF/TIF Files</button>
      <input type="file" multiple (change)="onFileSelected($event)" accept=".pdf, .tif, .tiff" data-input="false" class="hiddeninput" #fileInput />
    </span>
  </span>
</div>
<hr class="break-line" />
<div class="document-actions row">
  <div class="mode action-group">
    <button class="btn btn-link btn-text zoom-minus floatLeft" title="Zoom Out" (click)="zoomDecrease()">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-minus fa-stack-1x" aria-hidden="true"></i>
      </span>
    </button>
    <button class="btn btn-link btn-text zoom-plus floatLeft" title="Zoom In" (click)="zoomIncrease()">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x" aria-hidden="true"></i>
      </span>
    </button>
    <button class="btn btn-link btn-text previous-page" title="Previous Page" (click)="goToPrevPage()">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-arrow-up fa-stack-1x" aria-hidden="true"></i>
      </span>
    </button>
    <button class="btn btn-link btn-text next-page" title="Next Page" (click)="goToNextPage()">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-arrow-down fa-stack-1x" aria-hidden="true"></i>
      </span>
    </button>
  </div>
</div>
<hr class="break-line" />
<section class="doc-files row">
  <aside class="doc-files-list col-lg-4">
    <div class="doc-list-body">
      <table class="table table-striped doc-list">
        <tbody>
          <tr *ngFor="let document of uploadDocuments" (click)="addThisDocToArray(document, $event)" (focus)="displayDocument(document.Guid, document.NumberOfPages)"
              [class.highlighted]="isDocSelected(document)" tabindex="0">
            <td><i class="fa fa-file-o" aria-hidden="true"></i></td>
            <td>{{document.DocumentName}} </td>
            <td nowrap>
              <button type="button" class="close"
                      (click)="removeFileFromQueue(document)" #removeItem>
                <span></span>&times;
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </aside>
  <article class="doc-files-viewer col">
    <div class="doc-viewer component">
      <div id="uploadDocViewer" [ngClass]="{'viewerHidden':IsHidden}"></div>
    </div>
  </article>
  </section>
